{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ notebk.title }}</h1>

  <p><strong>Description:</strong> {{ notebk.description }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>“You fail only if you stop writing.” ― Ray Bradbury</h4>
    {% if notebk_list %}
        <ul>
        {% for notebk in notebk_list %}
        <li>
            <a href="{{ notebk.get_absolute_url }}">{{notebk.title}}</a> ({{notebk.description}})
        </li>
        {% endfor %}
        </ul>
  {% endif %} 
  </div>
{% endblock %}