.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
body {
  background: rgb(255, 255, 255) url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gratitude-journal-1585306574.jpg") no-repeat fixed center;
  background-size: cover
}